*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:white
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(59,255,68,1) 36%, rgba(0,212,255,1) 92%);
    clip-path: circle(30% at right 70%);
}
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(59,255,199,1) 29%, rgba(0,212,255,1) 97%);
    clip-path: circle(20% at 10% 10%);
}
.container{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.container .card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    margin:auto;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background:rgba(225,225,225,0.1);
    border-top:1px solid rgba(225,225,225,0.5);
    border-left: 1px solid rgba(225,225,225,0.5);
    backdrop-filter: blur(10px);
}
.container .card .content{
    color: black;
    text-align: center;
    padding: 5px;
}
.form{
    margin-top:20px;
}
input{
    margin: auto;
    padding: 7px;
    padding-left: 1rem;
    border-radius: 20px;
    border: 1px solid black;
    outline: none;
    width: 200px;
}
button{
    margin: 4px;
    padding: 6px;
    width: 200px;
    border: 1px solid black;
    border-radius: 30px;
    transition: .6s ease-in-out;
    font-size: 15px;
}
button:hover{
    background-color: #57d8cd;

    color: #fff;
}

a{
    color: #121212;
    transition: .6s ease-in-out;
}

/*responsive state*/
@media only screen and (max-width: 600px) {
    .container .card{
        width: 300px;
        height: 500px;
        
    }
  }