/* Footer */
.footer{ 
    position: relative;
    background: #000000;
  }
  
  #logo-title_footer{
    position: relative;
    top: -6rem;
    left: 8rem;
    font-family: 'Poiret One', cursive;
  }
  
  .img3{
    position: absolute;
    top: 150rem;
    right: 20rem;
  }
  
  #footer_links{
    margin-top: 2rem;
  }
  
  #footer_links ul{
    text-align: center;
  }
  
  #footer_links ul li{
    list-style: none;
    text-align: center;
    color: #FFFFFF61;
  }
  
  #footer_links ul span{
    font-size: 22px;
  }
  
  #footer_links ul li a{
    color: #FFFFFF61;
  }
  
@media screen and (min-width: 769px) and (max-width: 1060px) {
    .row{
        text-align: center;
    }
    #footer_links ul li{
        text-align: center;
    }
    #logo-title_footer{
        display: none;
    }
  }