@font-face{
    font-family: 'Cera-Light';
    src: url(../fonts/CeraRoundProDEMO-Light.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

html, body{
    background-image: linear-gradient(to right, #fff,  #fff, #fff);
    height: 100vh;
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
}

#email2:-webkit-autofill,
#email2:-moz-autofill,
#email2:-ms-autofill,
#email2:-o-autofill {
  background-color: #ffa; /* Change the color of the autofill background */
}

/* Main */
.head{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    /* margin-left: 3rem; */
}

.head-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.btn{
    box-shadow: none !important;
}

/* Image */
.image{
    position: relative;
    width: 100%;

}

.image__img{
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.image__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #FFF;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur{
    backdrop-filter: blur(5px);
}

.image__overlay > *{
    transform: translate(20px);
    transition: transform 0.25s;
}

.image__overlay:hover{
    opacity: 1;
}

.image__overlay:hover > *{
    transform: translate(0);
}
.image__title{
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}

.image__description{
    font-size: 1em;
    margin-top: 0.25em;
    color: #fff;
}

.card{
    width: 100% !important; 
    background: #ffff!important;
    margin-top: 2rem !important;
    justify-content: left;
    padding: 1rem;
    backdrop-filter: blurd(10px) !important;
	box-shadow: 5px 10px 20px rgba(0,0,0,.3) !important;
    /* box-shadow: 0 5px 25px rgb(1 1 1 / 20%); */
}

.card:hover{
    border-bottom: 2px solid #6559ca !important;
    transition: .2s ease-out;
}

.card-body{
    background: transparent !important;
    text-align: left;
}

.card-title{
    color: #6559ca;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.page-link{
    color: #6559ca !important;
    box-shadow: none !important;
}

.page-link:hover{
    background: #6559ca !important;
    border: 1px solid #6559ca !important;
    color: white !important;
}

.block h5{
    display: flex !important;
    flex-direction: column;
}

/* For Smart Phone View */
@media screen and (max-width: 768px){
   
    #icons{
      display: none;
    }
    #search{
        margin-left: 0;
    }
    .material-symbols-sharp{
        left: 0 !important;
        padding-left: .5rem;
    }
    span{
        font-size: 14px;
    }
    p{
        font-size: small;
    }
    .card{
        height: 100%;
    }
}
/* For Tablet View */

@media screen and (min-width: 769px) and (max-width: 1023px){
    .menu {
        position: absolute;
        left: 0;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .row{
        justify-content: center;
    }
    #left{
        text-align: left;
    }
    #search{
        margin-left: 0;
    }
    .fa-solid{
        margin-left: 1rem;
    }
}